artifacts/*.pkl filter=lfs diff=lfs merge=lfs -text
artifacts/westcoast/* filter=lfs diff=lfs merge=lfs -text
artifacts/*.sbn filter=lfs diff=lfs merge=lfs -text
artifacts/*.sbx filter=lfs diff=lfs merge=lfs -text
artifacts/** filter=lfs diff=lfs merge=lfs -text
